#Порт HTTP сервера
HTTP_PORT=1111

#Тип среды(local, dev, prod)
ENV_TYPE=local

#Для БД
DATABASE_USER=<имя пользователя>
DATABASE_PASSWORD=<пароль>
DATABASE_NAME=<имя базы данных>
DATABASE_HOST=database
DATABASE_PORT=1111
